.menu {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 25vw;
    max-width: 200px;
    position: fixed;
}
.menu-title {
    display: flex;
    justify-content: center;
    font-size: 1.0rem;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    width: 170px;
    align-self: center;
}
.menu-btn {
    padding: 10px;
    background-color: black;
    border: none;
    color: rgb(199, 199, 199);
    cursor: pointer;
    font-size: 0.9rem;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}
.menu-btn:hover {
    background-color: rgb(37, 37, 37);
}
.logout-btn {
    background-color: black;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    height: 30px;
    width: 100%;
    color: rgb(199, 199, 199);
    text-decoration: none;
}
.logout-btn:hover {
    background-color: rgb(37, 37, 37);
}
.logout {
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-bottom: 10px;
}

.menu-icon {
    font-size: 1.0rem;
    margin-right: 5px;
}

.material-symbols-outlined{
    margin-right: 5px;
}

.icon{
    margin-left: 20px;
}

.queue-music .material-symbols-outlined {
    margin-left: 17px;
    font-size: 24px;
    margin-right: 0px;
  }


.trip-origin .material-icons {
    margin-left: 18px;
    font-size: 20px;
    margin-right: 5px;
  }
